.test {
  margin: 3rem 0;
  background-color: orangered;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

}

.test_header_rem {
  font-size: 8rem;
}

.test_header_px {
  font-size: 80px;
  color: #fff;
}