.root {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.12);
}

.content_part {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cross_div {
  flex: 0 0 5rem;
  display: flex;
  justify-content: center;
  /* background-color: chocolate; */
}

/* ================================== content part ================================== */

.part_01 {
  flex: 0 0 30rem;
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
}

.part_02 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  /* background-color: olive; */
}

/* ================================== Part 01 content ================================== */
.img_div {
  flex: 0 0 12rem;
  /* background-color: aquamarine; */
}

.cl_sz_div {
  flex-grow: 1;
  margin-left: 1rem;
}

.cl_sz_item {
  display: flex;
  align-items: center;
}

/* ================================== Part 02 ================================== */
.amount_div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.amount_controller {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount_btn {
  padding: 0;
}
.amount_btn:hover {
  background-color: transparent !important;
}

.total_amount_div {
  flex: 0 0 12rem;
  display: flex;
  justify-content: center;
}

/* ============================ media query ============================ */

@media screen and (max-width: 500px) {

  .part_01 {
    flex: 0 0 100%;
  }
  
  .part_02 {
    flex: 0 0 100%;
    margin-top: 1rem;
  }

  .amount_div {
    flex: 0 0 50%;
  }

  .total_amount_div {
    flex-grow: 1;
  }

}
